@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&family=Montserrat:wght@500&family=Poppins:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.full-body{
  max-width: 1400px ;
  margin: 0px auto;
 
  background-color: #151515;

}
header{
    background-color: #000000;
}

.heading{
    color: #FF5E19;
    font-size: 76px;
    padding-top: 105px;
    text-align: center;
    font-family: 'Berkshire Swash';
}
.blog p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 28px 50px;
    padding-bottom: 246px;
}
/*------------ header_------------- end */
main{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
  
}
.player-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
article{
    width: 264px;
    height: 371px;
    /* border: 1px solid white; */
    background-color: black ;
}
.image{
    height: 204px;
}
.image img{
    width: 100%;
    height: 100%;
}
.player-name{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 16px auto 8px auto;
}
.player-detail{
    color: #B3B3B3;
    text-align: center;
}
.btn{
    width: 221px;
    padding: 10px;
    display: block;
    margin: 25px auto 21px auto;
    background-color: #015196;
    font-size: 16px;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
}

/*----------- select player -----------------*/

.select-player {
    background-color: #000000;
    width: 300px;
    /* height: 371px; */
    
}
.select-player h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 24px;

}
.budget{
    background-color: #000000;
    width: 300px;
    height:514px ;
    margin-top: 25px;
   
}
.budget h1{
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 28px;
}
.budget p{
    color: #AFAFAF;
    font-size: 16px;
    display: inline-block;
    margin-left: 22px;
}
.budget input{
    width: 121px;
    height: 42px;
    background-color: #000000;
    border: 1px solid white;
    margin-right: 22px;
    margin-top: 12px; 

}
.budget input[type=text]{
    color: white;
    text-align: center;
    font-size: 16px;
}

.expenses{
  color: white;
  margin-left: 24px;
}
#list{
    
    display: inline-block;
    margin-left: 50px;
}
#list li{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    list-style: type;
  
}
#error{
    color: red;
    text-align: center;
    font-size: 20px;
    display: none;
}
hr{
   margin-top: 100px;

}
.bottom{
    margin-top: 30px        ;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}